body {
    font-family: 'Arial', sans-serif;
  }
  
  app-user-nav-bar {
    display: block;
    margin-bottom: 20px;
  }
  
  h2 {
    color:  var(--main-color);
    text-align: center;
    margin-bottom: 40px;
  }
  
  
  .table-container {
    max-height: 500px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f7f5f5;
    color: black;
  }
  
  .table tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .product-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
  }
  
  
  
  .text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  
  .container {
    margin-top: 50px;
  }
  
  .fa {
    cursor: pointer;
    font-size: 18px;
    color: #dc3545; 
  }
  
  .fa-edit {
    color:  var(--main-color);; 
    margin-left: 10px;
  }
  


.form-container {
  max-width: 540px; /* Ajustez la largeur maximale selon vos besoins */
  margin: 0 auto; /* Centre le formulaire horizontalement */
  padding: 20px; 

}


button {

  margin-top: 15px; /* Ajoutez un espace supplémentaire entre les boutons */
  margin-right: 15px; /* Ajoutez un espace à droite du bouton Annuler */
}

