ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
}

.banner_bg_main {
    width: 100%;
    float: left;
    background-image: url(../../../assets/banner-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 20px 0px;
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.custom_menu li {
    float: left;
    font-size: 17px;
    color: #f1f1f1;
    padding: 6px 30px 0px 10px;
}

.custom_menu li a {
    color: #f1f1f1;
}

.custom_menu li a:hover {
    color: #f26522;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0px;
}
.header_section {
    width: 100%;
    display: flex;
}

.containt_main {
    display: flex;
}

.sidenav a:hover {
    color: #f26522;
}
.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    order: 2;
}

.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
}
a:hover {
    color: #f26522;
    text-decoration: underline;
}
.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow content */
  }
  
  @keyframes bounceInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0; /* Start with opacity 0 */
    }
    30% {
      transform: translateX(0%);
      opacity: 1; /* Make the block fully visible at 30% */
    }
    50% {
      transform: translateX(15%);
    }
    70% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
      opacity: 0; /* Hide the block completely at 100% */
    }
  }
  
  .banner_taital {
    animation: bounceInLeft 7s linear infinite; /* Use bounceInLeft animation for left to right bouncing movement */
  }
  


.dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.dropdown > a {
    color: #1f1f1f;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    background-color: #f26522;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.dropdown ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease-in-out;
}
.dropdown ul li a:hover {
    background-color: #e17340b9;
    color: #fff;
}



.buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px;
}

.buynow_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt a:hover {
    background-color: #f26522;
    color: #ffffff;
}


/* Styles pour la carte */
.box_main {
  width: 100%;
  background-color: #ffffff;
  height: auto;
  padding: 20px;
  box-shadow: 0px 0 30px 10px #f0f0f0;
  margin-bottom: 20px;
}

.shirt_text {
  width: 100%;
  font-size: 20px;
  color: #30302e;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}

.price_text {
  width: 100%;
  font-size: 16px;
  color: #f26522;
  text-align: center;
  margin: 0px;
}

.electronic_img {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
  min-height: 293px;
}

.btn_main {
  width: 100%;
  display: flex;
}

.seemore_bt {
  width: 100%;
  float: right;
  text-align: center;
}