<app-header-admin></app-header-admin>

<section class="a-propos">
  <div class="container">
    <h2>À propos de nous</h2>
    <div *ngFor="let about of aboutusList">
      <i>{{ about.aboutus }}</i><br><br><br>
      <button (click)="onEditClick(about)" class="button" data-bs-toggle="modal" data-bs-target="#aboutModal">Modifier</button>
    </div>
  </div>
</section>




<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier Produit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editAboutusForm" (ngSubmit)="onEditAboutus()" class="rounded p-4 shadow form-group text-center">
          <label for="aboutus">Modifier votre À propos de nous</label>
          <textarea id="aboutus" formControlName="aboutus" class="form-control" rows="8"></textarea>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistrer</button>
        </form>        </div>

    </div>
  </div>
</div> 