/*body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .add-contact-form {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-contact-form h2 {
    text-align: center;
    color: #333;
  }
  
  .add-contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .add-contact-form label,
  .add-contact-form input,
  .add-contact-form textarea,
  .add-contact-form button {
    margin-bottom: 15px;
  }
  
  .add-contact-form label {
    font-weight: bold;
    color: #333;
  }
  
  .add-contact-form input,
  .add-contact-form textarea,
  .add-contact-form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .add-contact-form button {
    background-color: #f26522;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add-contact-form button:hover {
    background-color: #d45d1a;
  }
  */

  